body{
    margin: 0;
}
#navi{
    width: 100%;
    height: 50px;
    background-color: black;
}
.text{
    color:white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.text:hover{
    color:  goldenrod;
}
#navicontent{
    padding-top: 15px;
    text-align: center;
}

#products{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  background-color: antiquewhite;
  border-color: black;
}

#captiondiv{
  text-align: center;
  height: 10px;
}

#caption{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: chocolate;
  font-size: 150;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the container for the three columns */
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Style each column */
.column {
  flex-basis: 30%; /* Set the width for each column */
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-right: 10px;
}

/* Remove the right margin from the last column */
.column:last-child {
  margin-right: 0;
}

/* Style the image within each column */
.column img {
  max-width: 100%;
  height: auto;
}

#buttons{
  color: cyan;
  background-color: black;
  border-color: black;
  width: 330px;
}

* {
    box-sizing: border-box
}
.image-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
img {
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}