body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #2e323c;
    color: goldenrod;
  }
  
  /* Navigation Bar */
  
 /* #home {
    background-color:  #7600bc;
    text-align:center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 0.5cm;
    padding-bottom: 2cm;
    height: 6mm;
   }*/
   * {
    box-sizing: border-box
}
.image-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
img {
  width: 100%
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
  
  /* popular destinations */
  
  #skills{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #eeeee4;

  }
  .all_skills {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }
  
  .skill {
    border:1px solid gray;
    display: ruby-base;
    border-radius: 5px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 3.2in;
    height: 3.2in;
    font-size: 20px;
    box-shadow: 0 3px 10px gray;
    border-radius: 25px;
  padding: 20px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  background-color: transparent;

  }
  .skill button:hover{
    margin-left: 25%;
  }
  .skill img {
    position: absolute;
    content: none;
    display: block !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 1;
    transition: opacity 3000ms 500ms;
    transition: transform 0.3s;
    backface-visibility: hidden;
  }
  
  .skill img:hover{
    transform:scale(1.1);
    opacity: 0.3;
  }

  .skill h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 10px;
    font-weight: bold;
    z-index: -6;
    color: black;
  } 
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Category */
  #categories{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #eeeee4; 
  }

   .all_skills {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .category {
    border:1px solid gray;
    display: ruby-base;
    border-radius: 5px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 3.2in;
    height: 3.2in;
    font-size: 20px;
    box-shadow: 0 3px 10px gray;
    border-radius: 25px;
  padding: 20px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;

  }
  
  .category img {
    position: absolute;
    content: none;
    display: block !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 1;
    transition: opacity 3000ms 500ms;
    transition:transform 0.3s;
    backface-visibility: hidden;
  }
  
  .category img:hover{
    transform:scale(1.1);
    opacity: 0.3;
  }
  .category h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 10px;
    font-weight: bold;
    z-index: -6;
    color: black;
  } 
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content:baseline;
  }